/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { CompAiCore } from "../core.js";
import { appendForm, normalizeBlob } from "../lib/encodings.js";
import {
  bytesToBlob,
  getContentTypeFromFileName,
  readableStreamToArrayBuffer,
} from "../lib/files.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import {
  QuestionnaireControllerUploadAndParseUploadV1Request,
  QuestionnaireControllerUploadAndParseUploadV1Request$zodSchema,
} from "../models/questionnairecontrolleruploadandparseuploadv1op.js";
import { APICall, APIPromise } from "../types/async.js";
import { isBlobLike } from "../types/blobs.js";
import { Result } from "../types/fp.js";
import { isReadableStream } from "../types/streams.js";

/**
 * Upload and parse questionnaire file
 *
 * @remarks
 * Upload a security questionnaire file, extract questions, save the parsed questionnaire, and return its identifier and question count.
 *
 * If set, this operation will use {@link Security.apikey} from the global security.
 */
export function questionnaireQuestionnaireControllerUploadAndParseUploadV1(
  client$: CompAiCore,
  request: QuestionnaireControllerUploadAndParseUploadV1Request,
  options?: RequestOptions,
): APIPromise<
  Result<
    Response,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client$,
    request,
    options,
  ));
}

async function $do(
  client$: CompAiCore,
  request: QuestionnaireControllerUploadAndParseUploadV1Request,
  options?: RequestOptions,
): Promise<
  [
    Result<
      Response,
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed$ = safeParse(
    request,
    (value$) =>
      QuestionnaireControllerUploadAndParseUploadV1Request$zodSchema.parse(
        value$,
      ),
    "Input validation failed",
  );
  if (!parsed$.ok) {
    return [parsed$, { status: "invalid" }];
  }
  const payload$ = parsed$.value;
  const body$ = new FormData();
  if (isBlobLike(payload$.file)) {
    const file = payload$.file;
    const blob = await normalizeBlob(file);
    const name = "name" in file ? (file.name as string) : undefined;
    appendForm(body$, "file", blob, name);
  } else if (isReadableStream(payload$.file.content)) {
    const buffer = await readableStreamToArrayBuffer(payload$.file.content);
    const contentType = getContentTypeFromFileName(payload$.file.fileName)
      || "application/octet-stream";
    appendForm(
      body$,
      "file",
      bytesToBlob(buffer, contentType),
      payload$.file.fileName,
    );
  } else {
    const contentType = getContentTypeFromFileName(payload$.file.fileName)
      || "application/octet-stream";
    appendForm(
      body$,
      "file",
      bytesToBlob(payload$.file.content, contentType),
      payload$.file.fileName,
    );
  }
  appendForm(body$, "organizationId", payload$.organizationId);
  if (payload$.source !== undefined) {
    appendForm(body$, "source", payload$.source);
  }
  const path$ = pathToFunc("/v1/questionnaire/upload-and-parse/upload")();

  const headers$ = new Headers(compactMap({
    Accept: "application/json",
  }));
  const securityInput = await extractSecurity(client$._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput, [0]);

  const context = {
    options: client$._options,
    baseURL: options?.serverURL ?? client$._baseURL ?? "",
    operationID: "QuestionnaireController_uploadAndParseUpload_v1",
    oAuth2Scopes: null,
    resolvedSecurity: requestSecurity,
    securitySource: client$._options.security,
    retryConfig: options?.retries
      || client$._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || [
      "429",
      "500",
      "502",
      "503",
      "504",
    ],
  };

  const requestRes = client$._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path$,
    headers: headers$,
    body: body$,
    userAgent: client$._options.userAgent,
    timeoutMs: options?.timeoutMs || client$._options.timeoutMs
      || 120000,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req$ = requestRes.value;

  const doResult = await client$._do(req$, {
    context,
    errorCodes: [],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req$ }];
  }
  return [doResult, {
    status: "complete",
    "request": req$,
    response: doResult.value,
  }];
}
