@import "tailwindcss";
@plugin "@tailwindcss/typography";

@source "../../../../packages/ui/src/*.{ts,tsx}";

@import "tailwindcss";

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.9%;
  --primary: 165 100% 15%;
  --primary-foreground: 0 0% 98%;
  --secondary: 0 0% 96.1%;
  --secondary-foreground: 0 0% 9%;
  --muted: 0 0% 96.1%;
  --muted-foreground: 0 0% 45.1%;
  --accent: 0 0% 96.1%;
  --accent-foreground: 0 0% 9%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 0 0% 89.8%;
  --input: 0 0% 89.8%;
  --ring: 165 100% 15%;
  --radius: 0.5rem;

  --chart-primary: 165 100% 15%;
  --chart-positive: 163 64% 21%; /* Green: use for published, or reviewed = the items are in a good state */
  --chart-neutral: 45 89% 53%; /* Yellow: use for draft(s) and actions that need reviewing soon */
  --chart-warning: 220 14% 53%; /* Gray: deleted, archived - states that have been closed */
  --chart-destructive: 0 85% 60%; /* Red: use for needs review, something that needs action immediately */
  --chart-other: 196 80% 45%; /* Blue: use for other states */

  --chart-closed: #004c3a;
  --chart-pending: #0ba5e9;
  --chart-open: #ffc007;
  --chart-archived: #64748b;
  --chart-needs_review: #ff0000;
}

.dark {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.9%;
  --primary: 165 100% 15%;
  --primary-foreground: 0 0% 98%;
  --secondary: 0 0% 96.1%;
  --secondary-foreground: 0 0% 9%;
  --muted: 0 0% 96.1%;
  --muted-foreground: 0 0% 45.1%;
  --accent: 0 0% 96.1%;
  --accent-foreground: 0 0% 9%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 0 0% 89.8%;
  --input: 0 0% 89.8%;
  --ring: 165 100% 15%;
  --radius: 0.5rem;

  --chart-primary: 165 100% 15%;
  --chart-positive: 163 64% 21%; /* Green: use for published, or reviewed = the items are in a good state */
  --chart-neutral: 45 89% 53%; /* Yellow: use for draft(s) and actions that need reviewing soon */
  --chart-warning: 220 14% 53%; /* Gray: deleted, archived - states that have been closed */
  --chart-destructive: 0 85% 60%; /* Red: use for needs review, something that needs action immediately */
  --chart-other: 196 80% 45%; /* Blue: use for other states */

  --chart-closed: #004c3a;
  --chart-pending: #0ba5e9;
  --chart-open: #ffc007;
  --chart-archived: #64748b;
  --chart-needs_review: #ff0000;
}

@layer base {
  body {
    font-family: var(--font-sans), system-ui, sans-serif;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
