# Authentication (https://console.cloud.google.com/apis/credentials)
BETTER_AUTH_SECRET="" # Generate with: openssl rand -base64 32
BETTER_AUTH_URL="" # http://localhost:3001
RESEND_API_KEY="" # https://resend.com/api-keys
RESEND_DOMAIN="" # ex. mail.trycomp.ai

# Database
DATABASE_URL="" # Format: postgresql://user:password@host:port/database

# Public
NEXT_PUBLIC_BETTER_AUTH_URL="" # http://localhost:30001

# AWS
APP_AWS_ACCESS_KEY_ID="" # AWS Access Key ID
APP_AWS_SECRET_ACCESS_KEY="" # AWS Secret Access Key
APP_AWS_REGION="" # AWS Region
APP_AWS_BUCKET_NAME="" # AWS Bucket Name

# Microsoft sign-in
AUTH_MICROSOFT_CLIENT_ID=
AUTH_MICROSOFT_CLIENT_SECRET=
